.additional-goods {
  overflow-x: hidden;
}

.additional-goods__wrapper {
  padding-top: 27px;
  padding-bottom: 35px;
}

.additional-goods__title {
  @include fontStyle(24px, 24px);
  font-weight: 400;
  margin: 0;
  margin-bottom: 34px;
}

.additional-goods__list {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
}

.additional-goods__item {
  border-top: 1px solid $silverGrey;
}

.additional-goods__item--last {
  border-bottom: 1px solid $silverGrey;
}

@media (min-width: $tablet-width) {
  .additional-goods__wrapper {
    padding-top: 70px;
    padding-bottom: 76px;
  }

  .additional-goods__title {
    @include fontStyle(36px, 36px);
    margin-bottom: 79px;
    padding: 0 36px;
  }

  .additional-goods__list {
    margin-bottom: 68px;
  }

  .additional-goods__item {
    border: 1px solid $silverGrey;
    border-bottom: none;
  }

  .additional-goods__item--last {
    border-bottom: 1px solid $silverGrey;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods__wrapper {
    padding-top: 75px;
    padding-bottom: 86px;
  }

  .additional-goods__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .additional-goods__title {
    margin-bottom: 81px;
    padding: 0;
  }

  .additional-goods__list {
    width: 895px;
    margin: 0;
  }

  .additional-goods__item {
    border: none;
    border-top: 1px solid $silverGrey;
  }

  .additional-goods__item--last {
    border-bottom: 1px solid $silverGrey;
  }
}
