.additional-product {
  padding-top: 13px;
  padding-bottom: 19px;
}

.additional-product__wrapper {
  margin-bottom: 15px;
}

.additional-product__title {
  @include fontStyle(16px, 16px);
  font-weight: 400;
  margin: 0;
  margin-bottom: 13px;
  color: $mineShaft;
  text-transform: uppercase;
}

.additional-product__list {
  @include fontStyle(14px, 14px);
  margin: 0;
  font-family: "Arial", sans-serif;
  color: $tundora;
}

.additional-product__button {
  @include fontStyle(16px, 20px);
  width: 100%;
  padding: 10px 0;
  font-family: inherit;
}

@media (min-width: $tablet-width) {
  .additional-product {
    padding: 26px 38px 28px 38px;
  }

  .additional-product__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }

  .additional-product__title {
    @include fontStyle(20px, 20px);
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .additional-product {
    padding: 0;
    padding-top: 15px;
    padding-bottom: 17px;
    display: flex;
  }

  .additional-product__wrapper {
    margin: 0;
  }

  .additional-product__title {
    width: 245px;
    margin-right: 80px;
  }

  .additional-product__button {
    width: 245px;
  }
}
