.additional-good__wrapper {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.additional-goods__title {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 36px;
  font-size: 24px;
  line-height: 24px;
}

.additional-goods__list {
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 31px;
}
