.contacts {
  width: auto;
  background-color: $white;
  position: relative;
}

.contacts--background {
  background-color: $basicGrey;
}

.contacts__wrapper {
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
}

.contacts__title {
  @include fontStyle(16px, 20px);
  font-weight: 400;
  width: 139px;
  color: $codGrey;
  text-transform: uppercase;
}

.contacts__address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 139px;
}

.contacts__text {
  @include fontStyle(14px, 20px);
  margin: 0;
  font-family: "Arial", sans-serif;
  color: $tundora;
}

.contacts__frame {
  width: auto;
  height: 362px;
}

.contacts__map {
  display: block;
  border: none;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

// .contacts__map {
//   width: auto;
//   margin: 0 auto;
// }

// .contacts__map-image {
//   display: block;
//   width: 100%;
//   height: 362px;
//   object-fit: cover;
// }

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding: 56px 70px;
  }

  .contacts__title {
    @include fontStyle(20px, 26px);
    width: 172px;
    padding-top: 5px;
    padding-bottom: 4px;
  }

  .contacts__address {
    width: 160px;
  }

  .contacts__text {
    @include fontStyle(16px, 20px);
    text-align: right;
  }

  .contacts__frame {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    position: absolute;
    top: 95px;
    left: 50%;
    transform: translateX(-610px);
    width: 565px;
    padding: 56px 80px;
    z-index: 1;
    background-color: $white;
  }

  .contacts__title {
    padding-top: 4px;
  }

  .contacts__text {
    text-align: left;
  }
}
