.copyright {
  width: 100%;
  margin: 0 auto;
}

.copyright__link {
  @include fontStyle(16px, 18px);
  font-family: "Arial", sans-serif;
  color: $tundora;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover .copyright__icon {
    fill: $basicGreen;
  }

  &:active,
  &:active .copyright__icon {
    opacity: 0.3;
  }
}

.copyright__icon {
  min-width: min-content;
  margin-left: 10px;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 163px;
    margin: 0;
  }
}
