.field__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
  position: relative;
}

.field__wrapper--last {
  margin-bottom: 0;
}

.field__label {
  @include fontStyle(16px, 18px);
  text-transform: uppercase;
  color: $tundora;
  max-width: 100px;
}

.field__input {
  @include fontStyle(16px, 18px);
  font-family: inherit;
  margin-left: 15px;
  padding: 12px 0 13px 15px;
  text-transform: uppercase;
  color: $tundora;
  border: 1px solid $mercury;
  flex-grow: 1;
  position: relative;

  &:hover {
    border-color: $silverGrey;
  }

  &:focus {
    box-shadow: inset 0 0 0 1px $tundora;
    outline: none;
    border-color: $tundora;

    + .field__icon--mail path {
      stroke: $basicGreen;
    }

    + .field__icon--phone path {
      fill: $basicGreen;
    }
  }

  &:invalid:not(:placeholder-shown) {
    box-shadow: inset 0 0 0 1px $statusError;
    border-color: $statusError;

    + .field__icon--mail path {
      stroke: $statusError;
    }

    + .field__icon--phone path {
      fill: $statusError;
    }
  }

  &::placeholder {
    color: $tundora;
  }
}

.field__input--email {
  margin-left: 11px;
}

.field__input--phone {
  margin-left: 9px;
}

.field__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.field__icon--mail {
  right: 15px;
}

.field__icon--phone {
  right: 13px;
}

.field--cat {
  padding-bottom: 24px;
}

.field--owner {
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .field__wrapper {
    margin-bottom: 22px;
  }

  .field__wrapper--last {
    margin-bottom: 0;
  }

  .field__label {
    @include fontStyle(20px, 30px);
    max-width: 150px;
  }

  .field__input {
    @include fontStyle(20px, 30px);
    margin-left: 18px;
    padding: 9px 0 9px 19px;
  }

  .field__input--email {
    margin-left: 19px;
  }

  .field__input--phone {
    margin-left: 12px;
  }

  .field__icon--mail {
    right: 19px;
  }

  .field__icon--phone {
    right: 17px;
  }

  .field--cat {
    margin-bottom: 72px;
    padding-bottom: 0;
    border: none;
  }

  .field--owner {
    margin-bottom: 67px;
  }
}

@media (min-width: $desktop-width) {
  .field__wrapper {
    margin-bottom: 18px;
  }

  .field__wrapper--last {
    margin-bottom: 0;
  }

  .field__input {
    padding: 11px 0 11px 17px;
  }

  .field__input--email {
    margin-left: 23px;
  }

  .field__input--phone {
    margin-left: 16px;
  }

  .field__box {
    display: flex;
    justify-content: space-between;

    .field__wrapper {
      width: 570px;
      margin-bottom: 0;
    }
  }

  .field--cat {
    width: 570px;
    margin-bottom: 0;
  }

  .field--owner {
    margin-bottom: 64px;
  }
}
