.field__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.field__wrapper--last {
  margin-bottom: 0;
}

.field__label {
  @include fontStyle(16px, 18px);
  text-transform: uppercase;
  color: $tundora;
}

.field__input {
  @include fontStyle(16px, 18px);
  font-family: inherit;
  margin-left: 12px;
  padding: 14px 0 14px 15px;
  text-transform: uppercase;
  color: $tundora;
  border: 1px solid $mercury;
  flex-grow: 1;
}

.field--cat {
  padding-bottom: 24px;
}

.field--owner {
  margin-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .field__wrapper {
    margin-bottom: 20px;
  }

  .field__wrapper--last {
    margin-bottom: 0;
  }

  .field__label {
    @include fontStyle(20px, 30px);
  }

  .field__input {
    @include fontStyle(20px, 30px);
    margin-left: 12px;
    padding: 11px 0 11px 19px;
  }

  .field--cat {
    margin-bottom: 72px;
    padding-bottom: 0;
    border: none;
  }

  .field--owner {
    margin-bottom: 65px;
  }
}

@media (min-width: $desktop-width) {
  .field__box {
    display: flex;
    justify-content: space-between;

    .field__wrapper {
      width: 570px;
      margin-bottom: 0;
    }
  }

  .field--cat {
    width: 570px;
    margin-bottom: 0;
  }
}
