.gift {
  padding-top: 59px;
  padding-bottom: 43px;
  background-color: rgba($basicGreen, 0.85);
  position: relative;
}

.gift::after {
  position: absolute;
  content: "";
  top: 0;
  width: 280px;
  height: 290px;
  background-image: url("../img/catalog-background-cat.png");
  z-index: -1;
}

.gift__text {
  @include fontStyle(16px, 20px);
  margin: 0;
  padding-top: 128px;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: $white;
}

@media (min-width: $tablet-width) {
  .gift {
    padding-top: 71px;
    padding-bottom: 69px;
  }

  .gift::after {
    width: 708px;
    height: 200px;
    background-image: url("../img/catalog-background-cat-tablet.png");
  }

  .gift__text {
    padding: 0;
    padding-left: 422px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .gift {
    padding: 55px 43px 42px 41px;
  }

  .gift::after {
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/catalog-background-cat-desktop.png");
    background-repeat: no-repeat;
  }

  .gift__text {
    padding: 0;
    padding-top: 126px;
    text-align: center;
  }
}
