.gift {
  padding-top: 59px;
  padding-bottom: 43px;
  background-image:
    linear-gradient(rgba($basicGreen, 0.85), rgba($basicGreen, 0.85)),
    url("../img/catalog-background-cat.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient(rgba($basicGreen, 0.85), rgba($basicGreen, 0.85)),
      url("../img/catalog-background-cat@2x.jpg");
  }
}

.gift__text {
  @include fontStyle(16px, 20px);
  margin: 0;
  padding-top: 128px;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: $white;
  position: relative;
}

.gift__text::after {
  position: absolute;
  content: "";
  width: 78px;
  height: 80px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../img/icon_gift.svg");
  background-repeat: no-repeat;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .gift {
    padding-top: 71px;
    padding-bottom: 69px;
    background-image:
      linear-gradient(rgba($basicGreen, 0.85), rgba($basicGreen, 0.85)),
      url("../img/catalog-background-cat-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(rgba($basicGreen, 0.85), rgba($basicGreen, 0.85)),
        url("../img/catalog-background-cat-tablet@2x.jpg");
    }
  }

  .gift__text {
    padding: 0;
    padding-left: 422px;
    text-align: left;
  }

  .gift__text::after {
    width: 80px;
    height: 82px;
    top: -14px;
    left: 108px;
  }
}

@media (min-width: $desktop-width) {
  .gift {
    padding: 55px 43px 42px 41px;
    background-image:
      linear-gradient(rgba($basicGreen, 0.85), rgba($basicGreen, 0.85)),
      url("../img/catalog-background-cat-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(rgba($basicGreen, 0.85), rgba($basicGreen, 0.85)),
        url("../img/catalog-background-cat-desktop@2x.jpg");
    }
  }

  .gift__text {
    padding: 0;
    padding-top: 128px;
    text-align: center;
  }

  .gift__text::after {
    width: 80px;
    height: 82px;
    top: 0;
    left: 50%;
  }
}
