.goods__title {
  @include fontStyle(36px, 36px);
  font-weight: 400;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 41px;
}

.goods__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: $tablet-width) {
  .goods__wrapper {
    padding-top: 60px;
  }

  .goods__title {
    @include fontStyle(60px, 60px);
    padding: 0;
    margin-bottom: 72px;
  }

  .goods__list {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 51px;
  }
}

@media (min-width: $desktop-width) {
  .goods__wrapper {
    padding-top: 71px;
  }

  .goods__title {
    @include fontStyle(60px, 60px);
    margin-bottom: 91px;
  }

  .goods__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 70px 80px;
  }
}
