.main-header {
  width: auto;
}

.main-header__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__logo {
  position: relative;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo::after {
  position: absolute;
  content: "";
  width: 191px;
  height: 38px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/logo-mobile.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .main-header {
    width: auto;
    margin: 0 auto;
    margin-top: 25px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .main-header__wrapper {
    min-height: 52px;
    padding: 0;
    margin: 0;
  }

  .main-header__logo::after {
    width: 174px;
    height: 52px;
    background-image: url("../img/logo-tablet.svg");
  }

  .main-header__toogle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    max-width: $desktop-width;
    margin-top: 54px;
    padding: 0 110px;
  }

  .main-header__wrapper {
    min-height: 59px;
  }

  .main-header__logo::after {
    width: 202px;
    height: 59px;
    background-image: url("../img/logo-desktop.svg");
  }
}
