.page__body {
<<<<<<< HEAD
  width: 320px;
  margin: 0 auto;
=======
  margin: 0;
>>>>>>> 22bd13c63994362283781a837c2b48d0c7e5e892
  font-family: "Oswald", sans-serif;
  color: #000000;
  background-color: #ffffff;
}
