.product-options {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 12px 12px 12px;
  row-gap: 5px;
}

.product-options__description {
  @include fontStyle(12px, 12px);
  font-family: "Arial", sans-serif;
  margin: 0;
}

.product-options__value {
  @include fontStyle(12px, 12px);
  font-family: "Arial", sans-serif;
  margin: 0;
  text-align: end;
}

@media (min-width: $tablet-width) {
  .product-options {
    grid-template-rows: 24px 24px 24px;
    row-gap: 7px;
  }

  .product-options__description {
    @include fontStyle(16px, 16px);
    padding-bottom: 9px;
    border-bottom: 1px solid $alto;
  }

  .product-options__value {
    @include fontStyle(16px, 16px);
    border-bottom: 1px solid $alto;
  }
}

@media (min-width: $tablet-width) {
  .product-options__description {
    padding-top: 5px;
    padding-bottom: 25px;
  }

  .product-options__value {
    padding-top: 5px;
    padding-bottom: 25px;
  }
}
