.product-property {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-property__price {
  margin: 0;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .product-property__price {
    width: 155px;
    margin-left: auto;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .product-property__type {
    width: 245px;
  }

  .product-property__price {
    width: 80px;
    text-align: left;
  }
}
