.product-card {
  padding-top: 11px;
  padding-bottom: 14px;
}

.product-card__title {
  @include fontStyle(16px, 20px);
  color: $specialDarkGrey2;
  text-decoration: none;
  text-transform: uppercase;
}

.product-card__button {
  @include fontStyle(16px, 20px);
  width: 280px;
  padding: 10px 0;
  font-family: inherit;
}
