.program-selection__wrapper {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 32px;
  padding: 0 20px;
}

.program-selection__title {
  @include fontStyle(36px, 36px);
  font-weight: 400;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 37px;
}

.program-selection__text {
  @include fontStyle(14px, 18px);
  margin: 0;
  margin-bottom: 39px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .program-selection__wrapper {
    width: $tablet-width;
    padding: 0 30px;
    margin-bottom: 72px;
  }

  .program-selection__title {
    @include fontStyle(60px, 60px);
    margin: 65px 0 54px 39px;
  }

  .program-selection__text {
    @include fontStyle(20px, 30px);
    margin-bottom: 66px;
    margin-left: 40px;
    width: 323px;
  }
}

@media (min-width: $desktop-width) {
  .program-selection__wrapper {
    width: $desktop-width;
    padding: 0 110px;
    margin-bottom: 82px;
  }

  .program-selection__title {
    margin: 77px 0 56px 0;
  }

  .program-selection__text {
    margin-left: 0;
  }
}
