.program-selection__wrapper {
  padding-top: 27px;
  padding-bottom: 32px;
}

.program-selection {
  overflow-x: hidden;
}

.program-selection__title {
  @include fontStyle(36px, 36px);
  font-weight: 400;
  margin: 0;
  margin-bottom: 37px;
}

.program-selection__text {
  @include fontStyle(14px, 18px);
  margin: 0;
  margin-bottom: 39px;
  text-transform: uppercase;
  width: 265px;
}

@media (min-width: $tablet-width) {
  .program-selection__wrapper {
    padding-top: 60px;
    padding-bottom: 72px;
  }

  .program-selection__content {
    padding-left: 40px;
  }

  .program-selection__title {
    @include fontStyle(60px, 60px);
    margin-bottom: 54px;
  }

  .program-selection__text {
    @include fontStyle(20px, 30px);
    width: 323px;
    margin-bottom: 66px;
  }
}

@media (min-width: $desktop-width) {
  .program-selection__wrapper {
    padding-top: 71px;
    padding-bottom: 82px;
  }

  .program-selection__content {
    padding-left: 0;
  }

  .program-selection__title {
    margin-bottom: 55px;
  }

  .program-selection__text {
    margin-bottom: 63px;
  }
}
