.program-type__wrapper {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.program-type__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.program-type__item {
  padding: 30px 33px 19px 20px;
  background-color: $basicGrey;
  color: #000000;
}

.program-type__title {
  margin: 0;
  padding-left: 71px;
  margin-bottom: 29px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.program-type__text {
  margin: 0;
  margin-bottom: 38px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $specialGrey;
}

.program-type__link {
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
