.promo__wrapper {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 27px;
  position: relative;
}

.promo__wrapper::after {
  position: absolute;
  content: "";
  width: 320px;
  height: 302px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-image: url("../../img/index-background-cat.png");
  background-repeat: no-repeat;
  z-index: -2;
}

.promo__wrapper::before {
  position: absolute;
  content: "";
  width: 320px;
  height: 302px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: rgba(104, 183, 56, 0.85);
  z-index: -1;
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.promo__text {
  margin: 0;
  margin-bottom: 29px;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}

.promo__image {
  margin-bottom: 3px;
}

.promo__link {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
}
