.promo__wrapper {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 27px 20px 0 20px;
  position: relative;
}

.promo__wrapper::after {
  position: absolute;
  content: "";
  width: 320px;
  height: 302px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-image:
    linear-gradient(rgba($basicGreen, 0.85), rgba($basicGreen, 0.85)),
    url("../img/index-background-cat.png");
  background-repeat: no-repeat;
  z-index: -1;
}

.promo__title {
  @include fontStyle(36px, 36px);
  font-weight: 400;
  margin: 0;
  margin-bottom: 25px;
  color: $white;
  text-align: center;
}

.promo__text {
  @include fontStyle(14px, 14px);
  margin: 0;
  margin-bottom: 29px;
  color: $white;
  text-transform: uppercase;
  text-align: center;
}

.promo__image {
  margin-bottom: 3px;
}

.promo__link {
  @include fontStyle(14px, 18px);
  font-family: inherit;
  font-weight: 400;
  display: block;
  box-sizing: border-box;
  padding: 7px 0;
  text-decoration: none;
}


@media (min-width: $tablet-width) {
  .promo__wrapper {
    width: $tablet-width;
    min-height: 810px;
    padding: 0 30px 0 119px;
    margin-bottom: 0;
  }

  .promo__wrapper::after {
    display: none;
  }

  .promo__title {
    @include fontStyle(60px, 60px);
    width: 420px;
    color: $black;
    text-align: left;
  }

  .promo__text {
    @include fontStyle(20px, 20px);
    color: $black;
    text-align: left;
    margin-bottom: 49px;
  }

  .promo__link {
    @include fontStyle(20px, 20px);
    padding: 14px 0;
    width: 244px;
  }

  .promo__image {
    position: absolute;
    bottom: 0;
    left: 30px;
    width: 708px;
    height: auto;
    z-index: -1;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    width: $desktop-width;
    min-height: 460px;
    padding: 0 110px 0 190px;
    margin-bottom: 82px;
  }

  .promo::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 694px;
    top: 0;
    right: 0;
    background-image:
      linear-gradient(rgba($basicGreen, 0.85), rgba($basicGreen, 0.85)),
      url("../img/index-background-desktop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
  }

  .promo__title {
    margin-bottom: 40px;
  }

  .promo__image {
    width: 552px;
    left: 588px;
    top: -82px;
  }
}
