.radio {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.radio__wrapper {
  margin-bottom: 13px;
}

.radio__label {
  @include fontStyle(16px, 18px);
  color: $mineShaft;
  text-transform: uppercase;
  margin-left: 45px;
}

.radio__control {
  appearance: none;
}
