.results {
  background-color: $baseGalleryGrey;
  color: $black;
}

.results__wrapper {
  padding-top: 25px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.results__title {
  @include fontStyle(36px, 40px);
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
}

.results__text {
  @include fontStyle(14px, 18px);
  margin: 0;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  color: $tundora;
}

.results__list {
  margin: 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.results__item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.results__amount {
  @include fontStyle(24px, 24px);
  margin: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.results__description {
  @include fontStyle(12px, 12px);
  font-family: "Arial", sans-serif;
  color: $tundora;
  text-transform: lowercase;
}

.results__cost {
  @include fontStyle(14px, 20px);
  margin: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .results {
    background-color: transparent;
    position: relative;
  }

  .results::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 462px;
    bottom: 0;
    background-color: $baseGalleryGrey;
    z-index: -1;
  }

  .results__wrapper {
    padding-top: 43px;
    padding-bottom: 56px;
  }

  .results__title {
    @include fontStyle(60px, 60px);
    margin-bottom: 63px;
  }

  .results__text {
    @include fontStyle(16px, 24px);
    margin-bottom: 54px;
  }

  .results__amount {
    @include fontStyle(30px, 37px);
  }

  .results__description {
    @include fontStyle(14px, 14px);
  }

  .results__list {
    width: 366px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .results::after {
    height: 462px;
    background-color: $basicGrey;
  }

  .results__wrapper {
    padding-top: 0;
    padding-bottom: 65px;
    flex-direction: row;
    justify-content: space-between;
  }

  .results__content {
    width: 436px;
  }

  .results__title {
    @include fontStyle(60px, 60px);
    margin-top: 43px;
    margin-bottom: 146px;
  }

  .results__text {
    @include fontStyle(16px, 24px);
    margin-bottom: 69px;
  }
}
