.show-all {
  padding: 25px 0;
}

.show-all__title {
  @include fontStyle(16px, 20px);
  font-weight: 400;
  margin: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
  text-align: center;
}

.show-all__text {
  @include fontStyle(12px, 16px);
  margin: 0;
  margin-bottom: 21px;
  font-family: "Arial", sans-serif;
  text-align: center;
}

.show-all__button {
  @include fontStyle(16px, 20px);
  width: 100%;
  padding: 10px 0;
  font-family: inherit;
}

@media (min-width: $tablet-width) {
  .show-all {
    height: 430px;
    margin-top: 81px;
    padding: 52px 37px 38px 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid $basicGrey;
  }

  .show-all__title {
    @include fontStyle(20px, 22px);
    width: 134px;
  }

  .show-all__text {
    @include fontStyle(16px, 18px);
  }
}

@media (min-width: $desktop-width) {
  .show-all {
    padding: 51px 38px 41px 38px;
  }
}
