.social__list {
  width: 47%;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social__item {
  width: 28px;
  padding-top: 2px;
  padding-bottom: 1px;

  &:hover .social__icon {
    fill: $basicGreen;
  }

  &:active .social__icon {
    opacity: 0.3;
  }
}

.social__icon {
  display: block;
  margin: auto;
}

@media (min-width: $tablet-width) {
  .social__list {
    width: 100%;
  }

  .social {
    min-width: 132px;
  }
}
