// === Colors ===
$basicGreen: #68b738;
$basicGreen2: #5eaa2f;
$basicGrey: #f2f2f2;
$basicGrey2: #eaeaea;
$specialGrey: #cdcdcd;
$specialGrey2: #ebebeb;
$specialGrey3: #666666;
$specialDarkGrey: #444444;
$specialDarkGrey2: #222222;
$statusError: #ff8282;

