.work-principle__wrapper {
  margin-bottom: 47px;
}

.work-principle__title {
  @include fontStyle(36px, 40px);
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
}

.work-principle__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.work-principle__item {
  margin-left: 80px;
}

.work-principle__text {
  @include fontStyle(14px, 18px);
  margin: 0;
  font-family: "Arial", sans-serif;
  color: $tundora;
}

@media (min-width: $tablet-width) {
  .work-principle {
    border-bottom: 1px solid $mercuryGrey;
  }

  .work-principle__title {
    @include fontStyle(60px, 60px);
    margin-bottom: 32px;
  }

  .work-principle__list {
    grid-template-columns: 247px 249px;
    column-gap: 137px;
    row-gap: 37px;
    counter-reset: item;
  }

  .work-principle__item {
    min-height: 280px;
    margin-left: 0;
    counter-increment: item;
    position: relative;
  }

  .work-principle__item::after {
    @include fontStyle(280px,280px);
    position: absolute;
    top: 0;
    right: 0;
    content: counter(item);
    color: $basicGrey;
    z-index: -1;
  }

  .work-principle__text {
    @include fontStyle(16px, 24px);
  }
}

@media (min-width: $desktop-width) {
  .work-principle {
    border: none;
  }

  .work-principle__wrapper {
    margin-bottom: 29px;
  }

  .work-principle__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 83px;
  }
}
