.work-principle__wrapper {
  padding-top: 20px;
  padding-bottom: 49px;
}

.work-principle__title {
  @include fontStyle(36px, 40px);
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
}

.work-principle__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.work-principle__item {
  position: relative;
}

.work-principle__item--icon::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  background-color: $basicGreen;
  background-position: center;
  background-repeat: no-repeat;
}

.work-principle__item--icon_leaf::before {
  background-image: url("../img/icon-leaf.svg");
}

.work-principle__item--icon_tub::before {
  background-image: url("../img/icon-tub.svg");
}

.work-principle__item--icon_eat::before {
  background-image: url("../img/icon-eat.svg");
}

.work-principle__item--icon_alarm::before {
  background-image: url("../img/icon-alarm.svg");
}

.work-principle__text {
  @include fontStyle(14px, 18px);
  margin: 0;
  padding: 3px 0 3px 80px;
  font-family: "Arial", sans-serif;
  color: $tundora;
}

@media (min-width: $tablet-width) {
  .work-principle {
    border-bottom: 1px solid $mercuryGrey;
  }

  .work-principle__wrapper {
    padding-top: 45px;
    padding-bottom: 46px;
  }

  .work-principle__title {
    @include fontStyle(60px, 60px);
    margin-bottom: 32px;
  }

  .work-principle__list {
    padding-right: 75px;
    grid-template-columns: 1fr 1fr;
    column-gap: 137px;
    row-gap: 37px;
    counter-reset: item;
  }

  .work-principle__item {
    min-height: 280px;
    padding-top: 151px;
    counter-increment: item;
  }

  .work-principle__item--icon::before {
    width: 80px;
    height: 80px;
    top: 40px;
  }

  .work-principle__item::after {
    @include fontStyle(280px, 280px);
    position: absolute;
    top: 0;
    right: 0;
    content: counter(item);
    color: $basicGrey;
    z-index: -1;
  }

  .work-principle__text {
    @include fontStyle(16px, 24px);
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .work-principle {
    border: none;
  }

  .work-principle__wrapper {
    padding-top: 71px;
    padding-bottom: 69px;
  }

  .work-principle__list {
    grid-template-columns: repeat(4, 1fr);
    padding-right: 0;
    column-gap: 80px;
  }
}
