// === Colors ===

$silverSteel:     #bababa;
$silverGrey:      #cdcdcd;
$silver:          #c4c4c4;
$altoLight:       #d3d3d3;
$alto:            #d9d9d9;
$baseGalleryGrey: #eaeaea;
$galleryGrey:     #ebebeb;
$mercuryGrey:     #e6e6e6;
$mercury:         #e7e7e7;
$white:           #ffffff;
$basicGrey:       #f2f2f2;
$black:           #000000;
$codGrey:         #111111;
$mineShaft:       #222222;
$tundora:         #444444;
$doveGrey:        #666666;
$appleGreen:      #5eaa2f;
$basicGreen:      #68b738;
$statusError:     #ff8282;

// === Viewports ===

$mobile-width: 320px;
$mobile-width-only: 767px;
$mobile-padding: 20px;
$tablet-width: 768px;
$tablet-padding: 30px;
$desktop-width: 1440px;
$desktop-padding: 110px;
