.divider {
  position: relative;
}

.divider::after,
.divider::before {
  position: absolute;
  content: "";
  width: 50vw;
  height: 1px;
  bottom: 0;
  background-color: $alto;
}

.divider::after {
  left: 50%;
}

.divider::before {
  right: 50%;
  transform: rotate(180deg);
}

@media (min-width: $tablet-width) {
  .divider::after,
  .divider::before {
    display: none;
  }
}
